.password_eye {
    /*background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-eye-512.png'); */
    background-size: 23px 23px; /* Change the size to 20px by 20px */
    width: 1.8vw; /* Set the width of the element */
    height: 3.645vh; /* Set the height of the element */
    position:'absolute';
    top: 50%;
    cursor: pointer;
    transform: translate(10.5469vw, -5.07131vh); 
    
  }
@media (max-width:600px) {
  .password_eye {
    width: 3.8vw; /* Set the width of the element */
    height: 4.645vh; /* Set the height of the element */
    transform: translate(33.5469vw, -5.07131vh); 
  }
}
  
  
  .dark_mode {
    width: 1.61vw;
    height: 3.1vh;
    transform: translate(.78125vw, .333vh);
    border: 2px solid #ffffff27; /* Add a border with color */
    border-radius: 50%;
    
    
  }