python -m venv venv
.\venv\Scripts\activate
pip install flask
pip install flask_cors
pip install requests
pip install bs4
pip install mysql-connector-python
echo "need to download node.js and REACT npm"
echo "need mysql downloaded with mysql workbench for local host until finished product is realeased"
echo "npm start"
